/* ===== HERO SECTION ===== */
.hero {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    background: transparent;
}

.hero-text {
    max-width: 55%;
    display: flex;
    flex-direction: column;
}

.hero-text h1 {
    font-size: 50px;
    font-weight: 800;
    color: #f8fafc;
}

.hero-text h2 {
    font-size: 26px;
    margin: 12px 0;
    color: #38bdf8;
}

.hero-text p {
    font-size: 17px;
    line-height: 1.8;
    color: #cbd5f5;
    margin-top: 15px;
}

/* DOWNLOAD BUTTON */
.download-btn {
    margin-top: 22px;
    align-self: flex-start;
}

/* PROFILE IMAGE */
.hero-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #38bdf8;
    box-shadow: 0 0 40px rgba(56, 189, 248, 0.4);
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 60px 30px;
    }

    .hero-image {
        order: 1;   /* image first */
    }

    .hero-text {
        order: 2;   /* text after image */
        max-width: 100%;
        align-items: center;
    }

    .download-btn {
        align-self: center;
    }

    .hero-image img {
        margin-bottom: 35px;
    }
}


/* ===== STYLISH NAME ===== */
.name-highlight {
    font-family: 'Dancing Script', cursive;
    font-size: 56px;
    font-weight: 700;
    color: #e0f2fe;
    letter-spacing: 1px;
}
